5- testPersistenceWF/testPersistenceWF/testPersistenceWF/Connected Services/ServiceReference3/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:59312/Service1.xamlx?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:59312/Service1.xamlx?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IGenerateRandom_GenerateRandom_InputMessage">
    <wsdl:part name="parameters" element="tns:GenerateRandom" />
  </wsdl:message>
  <wsdl:message name="IGenerateRandom_GenerateRandom_OutputMessage">
    <wsdl:part xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/" name="string" element="q1:string" />
  </wsdl:message>
  <wsdl:message name="ICheckNumber_CheckNumber_InputMessage">
    <wsdl:part name="parameters" element="tns:CheckNumber" />
  </wsdl:message>
  <wsdl:message name="ICheckNumber_CheckNumber_OutputMessage">
    <wsdl:part xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/" name="string" element="q2:string" />
  </wsdl:message>
  <wsdl:portType name="IGenerateRandom">
    <wsdl:operation name="GenerateRandom">
      <wsdl:input wsaw:Action="http://tempuri.org/IGenerateRandom/GenerateRandom" message="tns:IGenerateRandom_GenerateRandom_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGenerateRandom/GenerateRandomResponse" message="tns:IGenerateRandom_GenerateRandom_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="ICheckNumber">
    <wsdl:operation name="CheckNumber">
      <wsdl:input wsaw:Action="http://tempuri.org/ICheckNumber/CheckNumber" message="tns:ICheckNumber_CheckNumber_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICheckNumber/CheckNumberResponse" message="tns:ICheckNumber_CheckNumber_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IGenerateRandom" type="tns:IGenerateRandom">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GenerateRandom">
      <soap:operation soapAction="http://tempuri.org/IGenerateRandom/GenerateRandom" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BasicHttpBinding_ICheckNumber" type="tns:ICheckNumber">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CheckNumber">
      <soap:operation soapAction="http://tempuri.org/ICheckNumber/CheckNumber" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IGenerateRandom" binding="tns:BasicHttpBinding_IGenerateRandom">
      <soap:address location="http://localhost:59312/Service1.xamlx" />
    </wsdl:port>
    <wsdl:port name="BasicHttpBinding_ICheckNumber" binding="tns:BasicHttpBinding_ICheckNumber">
      <soap:address location="http://localhost:59312/Service1.xamlx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>