5- testPersistenceWF/testPersistenceWF/testPersistenceWF/Connected Services/ServiceReference2/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:58624/Service1.xamlx?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:58624/Service1.xamlx?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IGetApp_getApp_InputMessage">
    <wsdl:part name="parameters" element="tns:getApp" />
  </wsdl:message>
  <wsdl:message name="IGetApp_getApp_OutputMessage">
    <wsdl:part name="parameters" element="tns:getAppResponse" />
  </wsdl:message>
  <wsdl:message name="ICheckApp_checkApp_InputMessage">
    <wsdl:part name="parameters" element="tns:checkApp" />
  </wsdl:message>
  <wsdl:message name="ICheckApp_checkApp_OutputMessage">
    <wsdl:part xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/" name="string" element="q1:string" />
  </wsdl:message>
  <wsdl:portType name="IGetApp">
    <wsdl:operation name="getApp">
      <wsdl:input wsaw:Action="http://tempuri.org/IGetApp/getApp" message="tns:IGetApp_getApp_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGetApp/getAppResponse" message="tns:IGetApp_getApp_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="ICheckApp">
    <wsdl:operation name="checkApp">
      <wsdl:input wsaw:Action="http://tempuri.org/ICheckApp/checkApp" message="tns:ICheckApp_checkApp_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICheckApp/checkAppResponse" message="tns:ICheckApp_checkApp_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IGetApp" type="tns:IGetApp">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getApp">
      <soap:operation soapAction="http://tempuri.org/IGetApp/getApp" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BasicHttpBinding_ICheckApp" type="tns:ICheckApp">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="checkApp">
      <soap:operation soapAction="http://tempuri.org/ICheckApp/checkApp" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IGetApp" binding="tns:BasicHttpBinding_IGetApp">
      <soap:address location="http://localhost:58624/Service1.xamlx" />
    </wsdl:port>
    <wsdl:port name="BasicHttpBinding_ICheckApp" binding="tns:BasicHttpBinding_ICheckApp">
      <soap:address location="http://localhost:58624/Service1.xamlx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>