9- WF4_client/WF4_client/WF4_client/Connected Services/ServiceReference1/Service11.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="EvaluateMortage">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="customerCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="housePrice" type="xs:int" />
        <xs:element minOccurs="0" name="downPayment" type="xs:int" />
        <xs:element minOccurs="0" name="years" type="xs:int" />
        <xs:element minOccurs="0" name="salary" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EvaluateMortageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="frate" type="xs:int" />
        <xs:element minOccurs="0" name="message" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>